@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------------------------------ global */
:root {
   --text-black: #212427;
   --brand-red: #de272a;
   --brand-red-90: #de272a90;
   --brand-white: #ebe8f0;
}

body {
   color: var(--text-black);
   /* background: var(--brand-red-90); */
}

main {
   display: grid;
   grid-template-areas:
      "nav"
      "children";
   grid-template-rows: min-content 1fr;
}

.navLogo {
   filter: invert(100%)
}

/* ------------------------------------------ landing */
#home-container {
   display: grid;
   color: var(--text-black);
   grid-template-rows: repeat(5, max-content);
   grid-template-areas:
   "hero"
   "section1"
   "wide-image"
   "section2"
   "contact";
}

.home-hero {
   height: 100vh;
}

#home-container section {
   text-align: justify;
}

.image1-section {
   min-height: 750px;
}

.image1-section img {
   object-fit: cover;
}

.text1-section {
   display: grid;
   grid-auto-flow: column;
   grid-template-columns: .75fr 1fr;
   align-items: center;
}

.contact-section {
   color: var(--brand-white); 
}

.contact-section h1 {
   color: var(--brand-white);
}


@media (max-width: 600px) {
   .text1-section {
      grid-auto-flow: row;
      grid-template-rows: min-content 1fr;
      grid-template-columns: none;
   }
   
   .image1-section {
      min-height: 400px;
   }
}


/* ------------------------------------------ ContactForm */
.landing-page-contact-form input,
.landing-page-contact-form textarea {
   color: var(--text-black);
}

.landing-page-contact-form textarea {
   resize: none;
}

/* .landing-page-contact-form label,
.contact-section p {
   background: #ebe8f050; 
} */

.landing-page-contact-form {
   display: flex;
   justify-content: center;
}

.landing-page-contact-form form {
   display: flex;
   flex-direction: column;
   min-width: 500px;
}

.landing-page-contact-form div {
   text-align: center;
   margin-top: 8px;
}

.landing-page-contact-form button {
   color: var(--brand-white);
   background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.landing-page-contact-form button:hover {
   background-color: var(--text-black);
}

@media (max-width: 600px) {
   .landing-page-contact-form form {
      display: flex;
      flex-direction: column;
      min-width: initial;
   }
}