@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------------------------------ global */
:root {
   --text-black: #212427;
   /* --bg-black: #060404; */
   --bg-black: #000;
   --brand-red: #de272a;
   --brand-red-90: #de272a90;
   --brand-white: #ebe8f0;
}

body {
   color: var(--brand-white);
   background: var(--bg-black);
   margin-top: 96px;
}

@media (max-width: 600px) {
   body {
      margin-top: 56px;
   }
}

main {
   display: grid;
   grid-template-areas:
      "nav"
      "children";
   grid-template-rows: min-content 1fr;
}

.prose .prose h1,
.prose h2,
.prose p {
   color: var(--brand-white);
}

.brand-logo-div {
   margin: 24px 0;
   padding: 40px 0;
   display: flex;
   justify-content: center;
}

.brand-logo {
   margin: 24px 0;
}

/* ------------------------------------------ navbar */

.mg-nav-item button {
   color: var(--brand-white);
}

.mg-nav-item button:hover {
   background-color: var(--brand-white);
   color: var(--text-black);
}

/* ------------------------------------------ landing */
#home-container {
   display: grid;
   color: var(--text-black);
   grid-template-rows: repeat(5, max-content);
   grid-template-areas:
      "gallery"
      "section2"
      "contact";
}

.home-hero {
   height: 100vh;
}

#home-container section {
   text-align: justify;
}

#home-container h1 {
   color: var(--brand-white);
}

.text1-section {
   margin: 24px 0;
}

.text2-section {
   padding: 40px 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.image1-gallery {
   padding: 20px;
}

.text2-section button {
   width: 300px;
   background-color: rgb(0 0 0 / var(--tw-bg-opacity));
   background-color: var(--brand-red);
}

.text2-section button:hover {
   background-color: var(--brand-red-90);
}


/* .contact-section {
   color: var(--brand-white);
}

.contact-blur {
   padding: 20px;
   text-align: center;
} */


@media (max-width: 600px) {
   #home-container {
      margin-top: 0;
   }

   .text1-section {
      grid-auto-flow: row;
      grid-template-rows: min-content 1fr;
      grid-template-columns: none;
   }
}


/* ------------------------------------------ ContactForm */
.landing-page-contact-form input,
.landing-page-contact-form textarea,
.contact-page-contact-form input,
.contact-page-contact-form textarea {
   color: var(--text-black);
}

.landing-page-contact-form textarea,
.contact-page-contact-form textarea {
   resize: none;
}

.landing-page-contact-form,
.contact-page-contact-form {
   display: flex;
   justify-content: center;
}

.landing-page-contact-form form,
.contact-page-contact-form form {
   display: flex;
   flex-direction: column;
   min-width: 500px;
}

contact-form-error {
   text-align: center;
   margin-top: 8px;
}

.contact-page-contact-form button {
   margin: 2rem 0;
}

.contact-page-contact-form button {
   background-color: rgb(0 0 0 / var(--tw-bg-opacity));
   background-color: var(--brand-red);
}

.contact-page-contact-form button:hover {
   background-color: var(--brand-red-90);
}

.contact-page-contact-form button:disabled {
   background-color: var(--brand-red-90);
}

@media (max-width: 600px) {

   .landing-page-contact-form form,
   .contact-page-contact-form form {
      display: flex;
      flex-direction: column;
      min-width: initial;
   }
}

/* ------------------------------------------ contact */
.contact-container {
   display: grid;
   grid-template-areas:
      "content contact-form";
   grid-template-columns: 1fr 1fr;
   margin: 0 auto;
   margin-top: 100px;
   gap: 50px;
}

.contact-page-form-div,
.contact-page-content-div {
   display: flex;
   padding: 0 20px;
   color: var(--brand-white);
}

.contact-page-content-div a {
   width: max-content
}

.contact-page-form-div {
   grid-area: contact-form;
   align-items: center;
}

.contact-page-content-div {
   grid-area: content;
   flex-direction: column;
}

.contact-page-content-div h1,
.contact-page-content-div a {
   color: var(--brand-white);
}

.contact-page-content-div a {
   margin-top: 20px;
}

@media (max-width: 600px) {
   .contact-container {
      grid-template-areas:
         "content"
         "contact-form";
      grid-template-columns: 1fr;
   }

   .contact-page-form-div {
      grid-area: contact-form;
      align-items: center;
      justify-content: center;
   }

   .contact-page-content-div {
      grid-area: content;
      flex-direction: column;
      text-align: center;
   }

}

/* ------------------------------------------ about */
.about-heading h1 {
   color: var(--brand-white);
   text-align: center;
   margin: 24px 0;
}

.aboutImage1-section {
   min-height: 450px;
}

.aboutImage1-section img {
   object-fit: cover;
}

.under-about-image {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 40px;
}

.about-subtitle {
   margin: 24px 0;
   text-decoration: underline;
   text-decoration-color: var(--brand-red);
}

.about-content {
   margin: 24px 0;
   text-align: center;
}

@media (max-width: 600px) {
   .aboutImage1-section {
      min-height: 250px;
   }
}

/* ------------------------------------------ aftercare */
.aftercare-heading h1 {
   color: var(--brand-white);
   text-align: center;
   margin: 24px 0;
}

.aftercareImage1-section {
   min-height: 450px;
}

.aftercareImage1-section img {
   object-fit: cover;
}

.under-aftercare-image {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 40px;
}

.aftercare-subtitle {
   margin: 24px 0;
   text-decoration: underline;
   text-decoration-color: var(--brand-red);
}

.aftercare-content {
   margin: 24px 0;
   text-align: center;
}

@media (max-width: 600px) {
   .aftercareImage1-section {
      min-height: 250px;
   }
}

/* ------------------------------------------ aftercare */
.not-found-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: calc(100vh - 96px);
}

.not-found-container h1,
.not-found-container a {
   color: var(--brand-white);
}

/* ------------------------------------------ blogs */
/* .blogs-container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.blogs-heading h1 {
   color: var(--brand-white);
   margin: 24px 0;
   margin: 24px 0;
}

.blogs-container .prose h2 {
   color: var(--text-black);
}

.blog {
   margin-bottom: 36px;
}

.blog-card a img {
   height: 200px;
} */

/* ------------------------------------------ [blog] */
/* .blog-container {
   display: flex;
   padding: 24px;
   flex-direction: column;
   align-items: center;
   text-align: center;
   gap: 16px;
   max-width: 1200px;
}

.blog-container .prose,
.blog-container a {
   color: var(--brand-white);
}

.blog-image-div {
   display: flex;
   width: 100%;
   justify-content: center;
   background-color: var(--text-black);
}

.blog-center-div {
   display: flex;
   gap: 24px;
}

.blog-url a {
   text-decoration: none;
}

.blog-title h2 {
   text-decoration: underline;
   text-decoration-color: var(--brand-red);
}

@media (max-width: 600px) {
   .blog-center-div {
      flex-direction: column;
      gap: 8px;
   }
} */

/* ------------------------------------------ Masonry Grid */
#masonry-map-container {
   display: flex;
   justify-content: center;
}

.masonry-map-div {
   display: flex;
   justify-content: center;
   max-width: 1800px;
   margin-bottom: 60px;
   background: rgb(2,0,36);
   background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 20%, rgba(32,32,32,1) 100%); 
}


/* ------------------------------------------ Projects */
#projects-container {
   padding: 0 20px;
}

.projects-heading h1 {
   color: var(--brand-white);
   text-align: center;
   margin: 24px 0;
}

.blog-title h2 {
   text-decoration: underline;
   text-decoration-color: var(--brand-red);
}

/* ------------------------------------------ [project] */
#project-container {
   padding: 0 20px;
}

.project-heading h1 {
   color: var(--brand-white);
   text-align: center;
   margin: 24px 0;
}

#project-container .brand-logo {
   display: flex;
   justify-content: center;
   padding: 40px 0;
}

.project-image {
   display: flex;
   justify-content: center;
   margin-bottom: 48px;
}