@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------------------------------ global */
:root {
   --text-black: #212427;
}

body {
   color: var(--text-black);
   background: blue;
}

/* ------------------------------------------ nav */
.mg-navbar {
   display: grid;
   grid-template-areas:
   'home . links';
}

.mg-navbar-home {
   grid-area: home;
   display: flex;
   align-items: center;
}

.mg-navbar-links {
   grid-area: links;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

/* ------------------------------------------ landing */
#home-container {
   color: var(--text-black);
}